<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">

      <div class="container">
        <h1>{{doctor.dfname}} {{doctor.dlname}}</h1>
        <div class="card">
          <img 
            class="card-img-top doctor-image img-fluid" 
            src="{{#if (gt doctor.did 8)}}/img/docid-0.jpg{{else}}/img/docid-{{doctor.did}}.jpg{{/if}}"
            alt="Picture of the doctor {{doctor.dfname}} {{doctor.dlname}}">
          <div class="card-body">
            <p class="card-text">Specialization: {{doctor.dspec}}</p>
            <p class="card-text">Email: <a href="mailto: {{doctor.demail}}">{{doctor.demail}}</a></p>
          </div>
        </div>

        <div>
          {{!-- The use of history.back() adapted from stackoverflow
          Source: (Bajrang, 2012, "How to make an HTML back link?", https://stackoverflow.com/a/8814534) --}}
          <a class="btn btn-secondary btn-sm mt-3 mb-3" href="javascript:history.back()">Back</a>
        </div>
      </div>

    </div>
  </div>
</div>