<h2>Doctor details</h2>
<div class="doctor-details">
  <!-- Doctor images were generated using generative AI tool Adobe Firefly -->
  <img
    src="/img/docid-{{doctor.did}}.jpg"
    alt="Picture of the doctor {{doctor.dfname}} {{doctor.dlname}}"
    class="doctor-image"
  />
  {{doctor.dfname}}
  {{doctor.dlname}},
  {{doctor.dspec}},
  {{doctor.demail}}
</div>