<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8">

      {{#if patient.pid}}
        <h1>Modify patient information</h1>
      {{else}}
        <h1>New patient</h1>
      {{/if}}

      <div class="patient-form">

        {{#if patient.pid}}
          <form action="/patients/modify/{{patient.pid}}" method="POST">
        {{else}}
          <form action="/patients/new" method="POST">
        {{/if}}

          <div>
            <label for="patfname">First name:</label>
            <input class="form-control form-control-sm" type="text" id="patfname" name="patfname" required 
                   value="{{patient.pfname}}" />
          </div>

          <div>
            <label for="patlname">Last name:</label>
            <input class="form-control form-control-sm" type="text" id="patlname" name="patlname" required 
                   value="{{patient.plname}}" />
          </div>

          <div>
            <label for="patage">Age:</label>
            <input class="form-control form-control-sm" type="number" id="patage" name="patage" min="0" max="120" 
                   value="{{patient.page}}" />
          </div>

          <div>
            <label for="patgender">Gender:</label>
            <select class="form-control form-control-sm" id="patgender" name="patgender">
              {{!-- <option value="Female" {{#if (isEqual patient.pgender 'Female')}}selected{{/if}}>Female</option>
              <option value="Male" {{#if (isEqual patient.pgender 'Male')}}selected{{/if}}>Male</option> --}}
              <option value="Female">Female</option>
              <option value="Male">Male</option>
            </select>
          </div>

          <div>
            <label for="patcontact">Address:</label>
            <input class="form-control form-control-sm" type="text" id="patcontact" name="patcontact" 
                   value="{{patient.pcontact}}" />
          </div>

          <div>
            <label for="patphone">Phone:</label>
            <input class="form-control form-control-sm" type="text" id="patphone" name="patphone" 
                   value="{{patient.pphone}}" />
          </div>

          <div>
            <button class="btn btn-success btn-sm mt-3 mb-3" type="submit">
              {{#if patient.pid}}Update patient{{else}}Add patient{{/if}}
            </button>
          </div>
        </form>

          {{!-- The use of history.back() adapted from stackoverflow
          Source: (Bajrang, 2012, "How to make an HTML back link?", https://stackoverflow.com/a/8814534) --}}
          <a class="btn btn-secondary btn-sm mt-3 mb-3" href="javascript:history.back()">Back</a>

      </div>

    </div>
  </div>
</div>
