<p>This is the treatments site</p>
<h2>List of treatments:</h2>
<div class="treatment-list"></div>
<ol>
  {{#each treatment}}
    <li>
      {{tstart}}
      //
      {{tend}}
      //
      {{tdesc}}
      //
      {{tmed}}
      ({{tdose}})
    </li>
  {{/each}}
</ol>