<p>This is the treatments site</p>
<h2>List of treatments:</h2>
<div class="treatment-new">
  {{#if session.isAdmin}}
    <a href="/treatments/new">New treatment</a>
  {{/if}}
</div>
<div class="treatment-list">
  <ul>
    {{#each treatment}}
      <li>
        <a href="/treatments/{{tid}}">
        <!-- Treatment illustration was generated using generative AI tool Adobe Firefly -->
  <img
    src="/img/treatment.png"
    alt="Illustration of a treatment"
    class="treatment-image"
  />
          <span id="treatment-patient-name">
            {{pat_fname}}
            {{pat_lname}}
          </span>
          //
          {{tstart}}
        </a>
        // Attending physician:
        <span id="treatment-doctor-name">
          {{doc_fname}}
          {{doc_lname}}
        </span>
        {{#if ../session.isAdmin}}
        |||
        <a href="/treatments/modify/{{tid}}" class="treatment-modify">Modify</a>
        |||
        <a href="/treatments/delete/{{tid}}" class="treatment-delete">Delete</a>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</div>

{{!-- The following 14 lines of code were adapted from ChatGTP https://chatgpt.com/share/66ffceef-952c-800b-ad3a-da3c820b91b8 Accessed: 2024-10-04 --}}
<div class="pagination">
    {{!-- Previous button --}}
    {{#if (gt currentPage 1)}}
        <a href="?page={{subtract currentPage 1}}">Previous</a>
    {{/if}}

    {{!-- Show page numbers --}}
    <span>Page {{currentPage}} of {{totalPages}}</span>

    {{!-- Next button --}}
    {{#if (lt currentPage totalPages)}}
        <a href="?page={{add currentPage 1}}">Next</a>
    {{/if}}
</div>