<h2>Treatment details</h2>
<div class="treatment-details">
  <span id="treatment-patient-name">{{treatment.pat_fname}}
    {{treatment.pat_lname}}
  </span>
  //
  {{treatment.tstart}}
  //
  {{treatment.tend}}
  //
  {{treatment.tdesc}}
  //
  {{treatment.tmed}}
  ({{treatment.tdose}}) // Attending physician:
  <span id="treatment-doctor-name">
    {{treatment.doc_fname}}
    {{treatment.doc_lname}}
  </span>
</div>